.main {
  margin-top: 70px;
}

.left-nav {
  height: 100%;
  width: 200px;
  position: fixed;
}

.content {
  margin: 0 50px 50px 220px;
  background: #fff;
}

.panel {
  padding: 20px;
}

$height: 80px;
.ant-menu-item.nav-item {
  height: $height;
  line-height: $height;
  font-size: 16px;
  text-align: center;
}
